*{
	padding: 0;
	margin: 0;
	text-decoration: none;
    --color1: #1a1b41;
    --color2: #6290c3;
}
body{
    background: #e2e2e2;
}
#pantalla{
	float: left;
	width: 100%;
	overflow-y: scroll;
	font-family: ProximaSoft-Bold, sans-serif;
	scrollbar-width: thin;
	position: relative;
}

header{
    position: relative;
	float: left;
	height: 100%;
	width: 100%;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
    header video{
        width: 100%;
        float: left;
    }
    #nav{
        width: 100%;
        height: 4rem;
        float: left;
        display: flex;
    	text-align: center;
        align-items: center;
        background: #173774;
        z-index: 10;
    }
    #nav ul{
    	width: 100%;
    	right: 0;
    	top: 0;
    }
    #nav ul li{
    	margin: 0 .5rem;
    	list-style: none;
    	float: right;
    }
    #nav ul li:nth-child(1){
    	margin-left: 2rem;
    	float: left;
    }
    #nav ul a{ text-decoration: none; color: #fff; } #nav ul li a svg{ margin: -.05rem .3rem; }
    #nav ul p{
        float: right;
        margin-top: -.1rem;
    }
#t_text{
    margin-top: -55%;
    position: static;
    z-index: 10;
    float: left;
    overflow: hidden;
	width: 80%;
	height: calc(100% - 5rem);
	margin-left: 5%;
	text-align: center;
	justify-content: center;
	align-items: center;
	background: transparent;
}
    #t_titulo{
        background: transparent;
        letter-spacing: .2rem;
        text-shadow: 1px 1px 1px black;
        font-family: EASPORTS, sans-serif;
        width: 40%;
        margin-top: 10%;
        margin-left: 35%;
    	font-weight: 600;
    	color: #fff;
    	font-size: 3rem;
    	float: left;
    }#t_subt{
        background: transparent;
        font-family: EASPORTS, sans-serif;
        text-shadow: 1px 1px black;
        width: 80%;
        margin-left: 15%;
    	color: #fff;
    	font-size: 1.2rem;
    	margin-top: .25rem;
    	float: left;
    }#t_desc{
        background: transparent;
        font-weight: 600;
        text-shadow: 1px 1px black;
        width: 30%;
        margin-left: 40%;
    	color: #fff;
    	font-size: .8rem;
    	margin-top: .5rem;
    	float: left;
    }#t_text a{
        font-family: EASPORTS, sans-serif;
    	text-decoration: none;
    	font-size: 1rem;
    	float: left;
    	margin-top: 1.5rem;
    	margin-left: calc(55% - 5.35rem);
    	padding: .5rem 4rem;
    	color: #fff;
    	border-radius: .2rem;
        background: #262626;
    }#t_text a:hover{ opacity: .9; transition: 1s; }
.contenido{
    margin: 1rem;
	width: calc(100% - 2rem);
	height: auto;
	background: #f2f2f2;
	overflow: hidden;
	float: left;
	padding-bottom: 1rem;
	border-radius: .25rem;
}.contenido-i{
    margin: 1rem;
	width: calc(100% - 2rem);
	height: 13rem;
	background: #f2f2f2;
	overflow: hidden;
	float: left;
	border-radius: .25rem;
}
    #c-juegos, #c-torneos{ width: 100%; height: 100%; }
    #c-juegos h2, #c-torneos h2{ font-family: EASPORTS, sans-serif; font-size: 2rem;
        display: flex; 
    	text-align: center;
    	justify-content: center;
    	align-items: center;
        margin: 1.5rem;
        color: #252525;
    }
    #c-juegos h4{
        margin-bottom: 1.5rem;
        color: #252525;
        display: flex; 
    	text-align: center;
    	justify-content: center;
    	align-items: center; }
    #c-juegos #c_juegos, #c-torneos #torneos{
    	width: 95%;
    	float: left;
    	display: flex;
        flex-flow: wrap;
    	text-align: center;
    	justify-content: center;
    	align-items: center;
    	overflow: hidden;
    	margin-left: 2.5%;
    	margin-bottom: .5rem;
    }
        #c_juegos .juegos{
        	float: left;
        	overflow: hidden;
        }#c_juegos .juegos img{
            border-radius: .2rem;
            box-shadow: 5px 5px #262626;
            cursor: pointer;
            width: 11rem; height: 16rem;
            margin: 0 .75rem;
        }#c_juegos .juegos img:hover{ transition: 1s; opacity: 0.9; }
        #c_torneos{
            width: 100%;
            display: flex;
            flex-flow: wrap;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        #c_torneos .torneos{
            box-shadow: 5px 5px #262626;
            cursor: pointer;
            position: relative;
            margin: 1rem;
            border-radius: .2rem;
            width: 14rem;
            height: 22rem;
        	float: left;
        	overflow: hidden;
        }#c_torneos .torneos:hover{ transition: 1s; opacity: 0.9; }
        #c_torneos .torneos img{
            top: 0;
            left: 0;
            position: absolute;
            cursor: pointer;
            width: 100%;
            height: 100%;
            float: left;
        }
        #c_torneos .torneos label{
            cursor: pointer;
            padding: .25rem 0;
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
            margin-top: 65%;
            width: 100%;
            backdrop-filter: blur(1rem);
            color: #f2f2f2;
            float: left;
        }
        #c_torneos .torneos p{
            color: #f2f2f2;
            font-weight: 600;
            margin: 1rem;
            font-size: 1.4rem;
            position: absolute;
            text-align: center;
            justify-content: center;
            align-items: center;
            z-index: 10;
            top: 0;
            left: 0;
            margin-top: 80%;
            width: calc(100% - 2rem);
            height: 3.5rem;
            overflow: hidden;
            float: left;
        }
        #c_torneos .torneos content{
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
            margin-top: 95%;
            width: 100%;
            height: 7.5rem;
            float: left;
        }
            #c_torneos .torneos content span{
                color: #f2f2f2;
                font-size: 1rem;
                font-weight: 200;
                margin-top: 2rem;
                width: 100%;
                float: left;
            }#c_torneos .torneos content span:nth-child(2){
                font-weight: 600;
                font-size: 1.4rem;
                margin-top: .25rem;
                text-decoration: none;
                color: #fff;
            }
        #c_torneos .torneos div{
            position: absolute;
            z-index: 10;
            bottom: .25rem;
            left: 0;
            width: 100%;
            float: left;
            display: flex;
        	text-align: center;
        	justify-content: center;
        	align-items: center;
        }#c_torneos .torneos div h4{
            font-size: .8rem;
            margin-left: .85rem;
            width: calc(50% - 1rem);
            color: #f2f2f2;
            float: left;
        }
        
    #c-juegos #btn{
        font-family: EASPORTS, sans-serif;
        text-decoration: none;
    	font-size: 1rem;
    	float: left;
    	margin: 1rem;
    	margin-left: calc(50% - 7rem);
    	padding: .5rem 2rem;
    	color: #f2f2f2;
    	border-radius: .2rem;
        background: #262626;
    }#c-juegos #btn:hover{ opacity: .8; transition: 1s; }
    
    
#discord{
    overflow: hidden;
    font-family: EASPORTS, sans-serif;
    font-size: 2rem;
    width: calc(100% - 3rem);
    height: auto;
    float: left;
    padding: 1.5rem;
    background: var(--color1);
    color: #f2f2f2;
    display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}
    #discord svg{
        margin-right: 1rem;
    }
    #discord a{
        margin-left: .5rem;
        text-decoration: none;
        color: var(--color3);
        font-size: 2.5rem;
    }#discord a:hover{ opacity: .8; transition: 1s; transform: scale(110%); }
#c-info{ width: 50%; height: 100%; float: left; }#c-infoimg{ background-image: url('/img/2.jpg'); width: 50%; height: 100%; background-position: center 85%; float: left; }
    #c-info h2{
        width: 80%;
        font-family: EASPORTS, sans-serif; font-size: 2rem;
        display: flex; 
    	text-align: center;
    	justify-content: center;
    	align-items: center;
        margin: 1.5rem 1.5rem 1.5rem 10%;
        color: #252525;
    }
    #c-info h4{
        width: 80%;
        margin: 1.5rem 1.5rem 1.5rem 10%;
        color: #252525;
        display: flex; 
    	text-align: center;
    	justify-content: center;
    	align-items: center;
    }
.contenido-t{
    position: relative;
	width: 100%;
	height: 15rem;
	background: var(--color1);
	overflow: hidden;
	float: left;
	margin-bottom: 1rem;
}
    .mySlides{
        width: 70%;
        height: 100%;
        margin-left: 15%;
        display: flex;
	    text-align: center;
        align-items: center;
        justify-content: center;
    }
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    .prev{
        left: 0;
        border-radius: 3px 0 0 3px;
    }
    .next{
        right: 0;
        border-radius: 3px 0 0 3px;
    }
       .prev:hover, .next:hover {
        background: var(--color3);
    }.fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }
    @media only screen and (max-width: 300px) {
        .prev, .next,.text {font-size: 11px}
    }
    .contenido-t svg{ margin-top: 2rem; } .contenido-t p{ margin-top: 1rem; color: #f2f2f2; } .contenido-t h5{ margin-top: 2rem; color: #f2f2f2; }

#design{
    position: absolute;
    bottom: .5rem;
    left: 41.5%;
    height: auto;
    display: flex;
	text-align: center;
    align-items: center;
    justify-content: center;
    color: #909090;
}
footer{
    position: relative;
    background: #f2f2f2;
    float: left;
	width: 100%;
	height: 15rem;
	font-size: 1rem;
	font-family: ProximaSoft-Bold, sans-serif;
	text-decoration: none;
	color: #00143c;
}
    footer #f_logo{
        width: 30%;
        height: 100%;
        background: var(--color1);
        float: left;
    }footer #f_logo img{ width: 5rem; margin-left: calc(50% - 2.5rem); margin-top: 2rem; }
    footer #f_logo label{
        color: #f2f2f2;
        display: flex;
	    text-align: center;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 2rem; width: 100%; font-family: EASPORTS, sans-serif;
    }footer #f_logo span{
        color: #f2f2f2;
        display: flex;
	    text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    footer #f_content{
        width: 70%;
        height: 100%;
        float: left;
    }footer #f_content content{
        width: 50%;
        height: 100%;
        float: left;
        background: #d8d8d8;
        display: flex;
	    text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }footer #f_content content a{
        display: flex;
	    text-align: center;
        align-items: center;
        justify-content: center;
    	float: left;
    	text-decoration: none;
    	color: #00143c;
    	margin: .25rem;
    }footer content a svg{ margin-right: .25rem; }

@media (max-width: 600px) {
    footer { height: 17rem; }
    footer #f_content content a { width: 85%; }
    header video{ width: auto; height: 100%; }
    #nav{ margin-left: 0%; width: 100%; }
    #t_text{ width: 100%; margin-left: 0%; margin-top: -170%; }
    #t_titulo{
        width: 100%;
        margin-left: 0%;
    	margin-top: 40%;
    }#t_subt{ width: 100%; margin-left: 0%; }
    #t_desc{ width: 80%; margin-left: 10%; }
    #t_text a{ margin-left: calc(55% - 6.25rem); }
    #c_juegos .juegos img { margin-bottom: 1rem; width: 8rem; height: 10.5rem; }
    #c-juegos #btn { margin-left: calc(50% - 6.5rem); }
    #c_torneos{
        overflow-y: scroll;
        scroll-behavior: smooth;
        height: 19.5rem !important;
    }
    #c_torneos .torneos {  margin: .5rem; width: 10rem; height: 18rem; float: left; }
    #c_torneos .torneos label { font-size: .8rem; }
    #c_torneos .torneos p { font-size: 1.2rem; margin-top: 85%; }
    #c_torneos .torneos content span { font-size: .8rem; }
    #c_torneos .torneos content{ margin-top: 102.5%; }
    #c_torneos .torneos content span:nth-child(2) { font-size: 1.2rem; }
    #c_torneos .torneos div h4 { font-size: .5rem; }#c_torneos .torneos div { bottom: .6rem; }
    #discord svg{ display: none; }
    #c-info h2 { font-size: 1.6rem; }#c-juegos h4 { width: 80%; margin-left: 10%; }
    .contenido-t { height: 22.5rem; } .contenido-i{ height: 31rem; }
    #c-infoimg{ background-position: center 50%; }
    #nav ul li:nth-child(2){
    	margin-right: -1.5rem !important;
    }
}